body {
    font-family: Courier New, serif;
    background-color: #24292f;

}
h1 {
    text-decoration: none;
    text-align: center;
    font-size: 40px;
    font-weight: normal;
    color: white;
}
.titleWrap h1 a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit color from parent */
}

.titleWrap h1 a:hover {
    text-decoration: none; /* Remove underline on hover */
    color: inherit; /* Inherit color from parent */
}
.cityButtons {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin-top: 0px;
    padding: 0px;
}
.algoButt{
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
    padding: 0px;
}

.CButton {
    background-color: #24292f;
    border: 1px solid darkorange;
    border-radius: 8px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: Courier New, serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
    outline: none;
    padding: 13px 23px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
    user-select: none;
    -webkit-user-select: none;
    width: 125px; /* Adjust the width as needed */
}

.CButton:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.CButton:active {
  background-color: darkorange;
  border-color: #000000;
    color: #000000;
  transform: scale(.96);
}

.CButton:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}
 #map {
            height: 600px;
        }